@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&family=Playfair+Display:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.pagina-inicial {
    background-color: #FFF78C;
}

.container {
    margin-top: 20px; /* Espaçamento acima do conteúdo */
}

/*--------------imagem home*/
.img-fade-in {
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
/* ----------------------------texto*/
.article-home{
    font-family: 'Alexandria', Arial, Helvetica, sans-serif;
}

.article-home h2{
    font-size: 50px;
    margin-bottom: 10px;
    color: #FF40B4;
}
.texto-deslocamento {
    animation: deslocar 1s ease-in-out;
}

@keyframes deslocar {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
