@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Kaisei+Tokumin:wght@400;500;700;800&family=Monomaniac+One&family=Outfit:wght@300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*--------------NAV*/
.logo {
    opacity: 0.5;
  }

  
.nav-link{
    color: #FF40B4; 
    font-weight: bold;
    font-size: large;
    font-family:  'kaisei tokumin', serif ;
}
/*------------Footer*/

footer {
    background-color: #FFF78C;
    padding: 20px;
    width: 100%;
}
.link-voltar {
    color: #FF40B4; 
    font-weight: bold;
    font-size: large;
    font-family:  'kaisei tokumin', serif ;
}
  
.main_{
    padding-top: 30px;
}
/*-------------Home*/
.pagina-inicial {
    background-color: #FFF78C;
}



.container {
    margin-top: 20px; /* Espaçamento acima do conteúdo */
}

/*--------------imagem home*/
.img-fade-in {
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
/* ----------------------------texto*/
.article-text{
    font-family: 'Alexandria', Arial, Helvetica, sans-serif;
    animation: deslocar 1s ease-in-out;
}

.article-text h2{
    font-size: 50px;
    margin-bottom: 10px;
    color: #FF40B4;
}
.article-text p{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}


@keyframes deslocar {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/*--------------------- personagens*/

.img-psn{
    padding-top: 90px;
  
}

.container1{
    padding: 3%;
}